body {
    background: linear-gradient(rgba(20, 79, 20, 0.679), rgba(35, 72, 35, 0.723)), url(../bg/J4o.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.sh {
    box-shadow: 4px 4px 1.2rem;
}